<!--
   Documento creado y mantenido por Maximo Ocaña
   Fecha: 07/2024
   Propósito: Este documento forma parte de un proyecto web.
   Descripción: V1 TEA detection. 
-->

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detección del Trastorno del Espectro Autista (TEA)</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h2>Detección del Trastorno del Espectro Autista (TEA)</h2>
    <p>Haz clic en el botón para comenzar la evaluación.</p>
    <a href="{{ url_for('upload_file') }}" class="button">Iniciar</a>
  </div>
</body>
</html>
