<!--
   Documento creado y mantenido por Maximo Ocaña
   Fecha: 07/2024
   Propósito: Este documento forma parte de un proyecto web.
   Descripción: V1 TEA detection. 
-->

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gracias</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h2>Gracias por su tiempo.</h2>
  </div>
</body>
</html>
